-e .
pycares==4.10.0
pytest==8.4.2
pytest-asyncio==1.1.0
pytest-cov==7.0.0
uvloop==0.21.0; platform_system != "Windows" and implementation_name == "cpython"
winloop==0.2.2; platform_system == "Windows"
